* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Inter, sans-serif;
}

.title {
    margin: 20px;
    text-align: center;
    color: #76DFB7;
}

.instruction {
    color: red;
}

#add-food {
    left: 50%;
    top: 45%;
    position: absolute;
    transform: translate(-50%, -50%);
}

form {
    width: 50%;
    height: 50%;
    margin-top: 25px;
}

.btn-cancel {
    background-color: #FF0404;
    color: black;
    padding: 8px 14px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn-save {
    background-color: #76DFB7;
    color: black;
    padding: 8px 14px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
    color: white;
}

/*Mobile Responsive*/

@media only screen and (max-width: 768px) {
    form {
        width: 60%;
        height: 45%;
    }

    .btn {
        margin: 10px auto 50px auto;
    }

    footer {
        display: none;
    }
}

@media only screen and (max-width: 483px) {
    form {
        height: 20%;
    }
}