* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Inter, sans-serif;
}

main {
  margin: 30px;
}

#content {
  width: 55%;
  float: left;
}

aside {
  float: right;
  width: 40%;
  margin: 0 30px;
}

.card {
  width: 100%;
  height: auto;
  padding: 10px;
  margin: 20px;
  background: #F9F9F9;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px !important;
}

#search {
  display: flex;
}

.form-control {
  border: none !important;
}

.search-btn {
  background-color: #76DFB7;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 10px;
  font-weight: bold;
}

.search-btn:hover,
.delete-button:hover {
  color: white;
  opacity: 0.8;
}

.add {
  font-weight: bold;
  color: #76DFB7;
  margin: auto;
  text-align: center;
  text-decoration: none;
}

.food {
  display: flex;
  width: 100%;
  height: auto;
  padding: 8px;
  background: #F9F9F9;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.food-btn {
  border: none;
  background: #F9F9F9;
}

.input-gram {
  width: 60px;
  height: 25px;
  border-radius: 5px;
  text-align: center;
}

h4 {
  text-align: center;
}

.summary {
  display: flex;
}

.nominal {
  display: flex;
  padding: 0;
  margin-left: 140px;
  width: auto;
  gap: 10px;
  align-items: center;
}

.delete-button {
  background-color: #FF0404;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
  font-weight: bold;
}

.add-btn {
  margin: auto;
  padding: 5px 10px;
  background-color: #76DFB7;
  color: black;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.add-btn:hover {
  background-color: #76DFB7;
  color: white;
  opacity: 0.8;
}

/*
||||||||||||||||||

Layar Responsive

||||||||||||||||||
*/

/* Layar Desktop */
@media screen and (min-width : 1200) {

  /* SEARCH SETTING */
  .search-container {
    width: 100%;
    margin: 0px;
  }

  .search-container>input {
    width: 100%;
  }

  /* Main Tabel List */
  .main {
    width: 100%;
    margin: 10px 0;
  }

  .input-name-list {
    width: 100%;
  }

  .card {
    width: 100%;
  }

  /* Sidebar List/Summary */
  .sidebar {
    width: 100%;
    margin: 5px 0 10px 0;
  }
}

/* Layar Tablet */
@media screen and (min-width : 700) {

  main {
    margin: 15px;
  }

  search-bar {
    grid-column: 1/3;
    margin: 10px;
  }

  aside {
    grid-column: 1/3;
    margin: 10px;
    width: 100%;
  }

  div-list {
    margin: 10px;
    width: 100%;
  }

  .search-container {
    width: 100%;
    margin: 10px;
  }

  .search-container>input {
    width: 100%;
  }

  .main {
    width: 100%;
    margin: 10px;
  }

  .input-name-list {
    width: 100%;
  }

  .table-main {
    width: 100%;
  }

  .sidebar {
    width: 100%;
    margin: 10px;
  }

  footer {
    position: static;
  }
}

/* Layar Handphone */
@media screen and (min-width : 300) {
  main {
    margin: 10px;
  }

  search-bar {
    grid-column: 1/3;
    margin: 10px;
  }

  aside {
    grid-column: 1/3;
    margin: 10px;
    width: 100%;
  }

  div-list {
    margin: 10px;
    width: 100%;
  }

  .search-container {
    width: 100%;
    margin: 10px;
  }

  .search-container>input {
    width: 100%;
  }

  .main {
    width: 100%;
    margin: 10px;
  }

  .input-name-list {
    width: 100%;
  }

  .table-main {
    width: 100%;
  }

  .sidebar {
    width: 100%;
    margin: 10px;
  }

  footer {
    position: static;
  }
}