* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

main {
    margin: 30px;
}

#content {
    width: 68%;
    float: left;
}

li {
    font-size: 16px;
    line-height: 29px;
    padding: 10px;
}

aside {
    float: right;
    width: 28%;
}

.navbar {
    background-color: #76DFB7;
}

.navbar img {
    width: 80px;
    height: 80px;
}

.card,
.time,
.nutrition {
    width: 100%;
    padding: 10px;
    margin: 20px;
    background: #F9F9F9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.card {
    height: auto;
}

.card li {
    display: inline-block;
    margin: 0 1.2em;
}

.btn-img {
    width: 40px;
    height: 40px;
    border-radius: 100px;
}

.foodtime {
    height: auto;
}

.nutrition {
    max-width: 300px;
    height: auto;
}

.calorie-btn {
    float: right;
}

.btn-primary {
    background-color: #76DFB7;
    color: black;
}

footer {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    background-color: #76DFB7;
    text-align: center;
    color: white;
}

/* Responsive Adjustments */

@media only screen and (max-width: 768px) {
    main {
        margin: 10px;
    }

    #content {
        width: 100%;
        float: none;
    }

    aside {
        float: none;
    }

    .card,
    .time,
    .nutrition {
        margin: 10px;
    }

    .nutrition {
        max-width: none;
    }

}