@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

main {
    margin: 30px;
}

#content {
    width: 68%;
    float: left;
}

aside {
    float: right;
    width: 28%;
}

.change-date,
.calorie-info {
    display: flex;
    margin: 10px 30px 10px 30px;
    font-weight: bold;
}

.container {
    margin-bottom: 50px;
}

.card,
.time,
.nutrition {
    width: 100%;
    padding: 10px;
    margin: 20px;
    background: #F9F9F9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.card {
    height: auto;
}

.card-header {
    display: flex;
    font-weight: bold;
}

.card-header a {
    text-decoration: none;
    color: black;
}

.food-detail {
    display: flex;
    margin-bottom: 15px;
}

span {
    color: darkgrey;
}

.foodtime {
    height: auto;
}

.nutrition {
    max-width: 300px;
    height: auto;
    align-items: center;
}

.table {
    margin-left: 20px !important;
    border-bottom-color: #F9F9F9;
}

.btn-change {
    background-color: #76DFB7;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
    font-weight: bold;
}

.btn-change:hover {
    color: white;
    opacity: 0.8;
}

/* Responsive Adjustments */

@media only screen and (max-width: 768px) {
    main {
        margin: 10px;
    }

    #content {
        width: 100%;
        float: none;
    }

    aside {
        float: none;
    }

    .card,
    .time,
    .nutrition {
        margin: 10px;
    }

    .nutrition {
        max-width: none;
    }

}