* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Inter, sans-serif;
}

main {
    margin: 30px;
}

#content {
    width: 65%;
    float: left;
}

aside {
    float: right;
    width: 30%;
    margin: 0 30px;
}

#form-date {
    display: flex;
}

.change-date,
.calorie-info {
    display: flex;
    margin: 10px 30px 10px 30px;
    font-weight: bold;
}

.container {
    margin-bottom: 50px;
}

.card {
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 20px;
    background: #F9F9F9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.card-header {
    display: flex;
    font-weight: bold;
}

.card-header a {
    text-decoration: none;
    color: black;
}

.food-detail {
    display: flex;
    margin-bottom: 15px;
}

.food-detail>a {
    text-decoration: none;
    color: black;
}

span {
    color: darkgrey;
}

.foodtime {
    height: auto;
}

.nutrition>p {
    text-align: center;
}

.table {
    margin-left: 20px !important;
    border-bottom-color: #F9F9F9;
}

.btn-change {
    background-color: #76DFB7;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
    font-weight: bold;
}

.btn-change:hover {
    color: white;
    opacity: 0.8;
}

/*Mobile Responsive*/
@media only screen and (max-width: 768px) {
    main {
        margin: 10px;
    }

    #content {
        width: 100%;
        float: none;
    }

    aside {
        width: 50%;
        float: none;
        margin: auto;
    }

    .card,
    .nutrition {
        margin: 10px;
    }

    .change-date {
        display: flex;
        flex-direction: column;
    }

    #form-date {
        display: flex;
        flex-direction: row;
        margin: auto;
        gap: 10px;
    }
}

@media only screen and (max-width: 499px) {
    .change-date {
        display: flex;
        flex-direction: column;
    }

    #form-date {
        display: flex;
        flex-direction: column;
        margin: auto;
        gap: 10px;
    }

    .calorie-info>.py-2 {
        margin-left: -10px;
    }
}