#register {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    font-family: Inter, sans-serif;
}

form {
    width: 50%;
    margin: auto;
    display: flex;
}

.btn-primary {
    background-color: #76DFB7 !important;
    color: black !important;
    border: none !important;
}

.btn-primary:hover {
    opacity: 0.8;
}

.imgcontainer {
    margin: auto;
}

img.logo {
    width: 100%;
}

.container {
    padding: 16px;
}

.container h3 {
    text-align: center;
}